


.box{
    width: 350px;
    height:500px;
    background-color: aquamarine;
}
.input-group{
    height: 15%;
}
.task-group{
    height: 85%;
    background-color: rgb(219, 127, 255);
}
#task-list ul li{
    width: 280px;
    height: 80px;
    background-color: aliceblue;
}
li{
    
    list-style: none;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 8px;
}